.Body {
	width: 100%;
}

.Logo{
	background-color: yellow;
	text-align: center;
}

.accountGroup{
	background-color: yellow;
	text-align: center;
	margin-top: 20px;
}

.form-group1{
	background-color: yellow;
	text-align: center;
}

.form-group2{
	background-color: yellow;
	text-align: center;
}

.form-group3{
	background-color: yellow;
	text-align: center;
}

.Button{
	text-align: center;
}

.Footer {
	background-color: yellow;
	border-color: black;
	padding-top: 10px;
	text-align: center;
}
