body {
	font-family: sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	
}

/*-----------Nav Bar--------*/
.navbar {
	width: 100%;	
	height: 100px;
	margin: 20px;
	background-color: yellow;
}
.navbar ul {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 150%;
	list-style: none;    
}
.navbar-list ul li {
	width: 23%;
	height: 100%;
	float: left;
	border-width: 3px;
	border-color: #FFD700;
	
}
.navbar-list ul li a {
	width: 100%;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	vertical-align: middle;
}
.navbar-list ul li:first-child a {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.navbar-list ul li:last-child a {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
/* dropdown menu button*/
.dropdown-button a {

}
/* dropdown menu boxes */
.dropdown-menu.dropdown-item li ul.dropdown-menu {
	position: absolute;
	min-width: 100%;
	font-size: 75%;
	background: grey;
}



/*-----------Account Info--------*/
.accountinfo {
	width: 100%;
	background-color: yellow;
	padding: 40px;
	margin: 20px;
}
.accountinfo h2 {
	text-align: center;
}


/*-----------Class Info--------*/
.classinfo {
	background-color: yellow;
	padding: 40px;
}
.classinfo h2 {
	text-align: center;
}

/*-----------Resources--------*/
.resources {
	background-color: yellow;
	padding: 40px;
}
.resources h2 {
	text-align: center;
}


/*-----------Schedule--------*/
.schedule {
	background-color: yellow;
	padding: 40px;
}
.schedule h2 {
	text-align: center;
}
.officeHourInfo {
	
}
.officeHourTime {
	
}

.schedule.TApresenceDot {
	width: 2px;
	height: 2px;
	border-style: solid;
	border-radius: 1px;
}


/*-----------Forum--------*/
.forum {
	background-color: yellow;
	padding: 40px;
}
.forum h2 {
	text-align: center;
}
.forum.entriesbox {
	
}
#posts, #newpost {
	background-color: grey;
	padding: 2px;
	text-align: left;
}

/*-----------Footer--------*/
.footer {
	background-color: yellow;
	border-color: black;
	padding-top: 10px;
	position: fixed;
	font-family: sans-serif;
}









