.Header {
	float: right;
	padding-right: 300px;
	padding-top: 100px;
	text-align: center;
}

.Body {
	background-color: #A9A9A9;
}

.Logo {
	float: left;
	padding-left: 200px;
	padding-top: 100px;
}

.Login {
	background-color: #FFCA33;
	float: right;
}

.Mission {
	background-color: #FFCA33;
	text-align: center;
}
