<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- Display Clock -->
          <div id="ClockDisplay"></div>
          <script type="text/javascript">
            function showTime() {
              var date = new Date();
              var h = date.getHours();
              var m = date.getMinutes();
              var s = date.getSeconds();
              var session = "AM";

              if(h == 0){
                h = 12;
              }

              if(h > 12){
                h = h - 12;
                session = "PM";
              }

              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;

              var time = h+":"+m+":"+s+" "+session;
              document.getElementById("ClockDisplay").innerText = time;
              document.getElementById("ClockDisplay").textContent = time;

              setTimeout(showTime, 1000);
            }
            showTime();
          </script>
          


          <!--/stories-->
          <!-- This is going to loop over courses to recreate the home page except it will  be the list of courses -->
          <!-- the ejs and html syntax might confuse your text editor, but the below code works. -->



          Add a course:
         
          <form method="post" action="/addcourse/submit" >
          <div class="form-field">
        <label for="id">ID: </label>
          <input class="input" id="id" name="id" type="number" />
          </div>
             <div class="form-field">
        <label for="id">CID: </label>
          <input class="input" id="cid" name="cid" type="number" />
          </div>
          <div class="form-field">
            <label for="cid">Class name: </label>
            <input class="input" id="cname" name="cname" type="string"  />
            </div>
             <div class="form-field">
        <label for="id">Professor: </label>
          <input class="input" id="prof" name="prof" type="string" />
          </div>
            <div class="form-actions">
            <input type="submit" value="submit">
            </div>
            </form>

              

          <div id="mainform">
            <div class="innerdiv">
              <h2></h2>
                <!-- Required Div Starts Here -->
                
                    <div id="clear"></div>
                    </div>
                  <div id="clear"></div>
                </div>
                
          <!--/stories-->
          <a href="/" class="btn btn-primary pull-right btnNext">Home<i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
