<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Logout</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-10" align="left">
          <br>
          <br>
          <br>
          <h3><i>Student integrated<br> Tracking Envionment</i></h3>
      </div>
    </div>
  </div>
</div>

<div class="container" style="background-color:#cecece">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- Display Clock -->
          <div id="ClockDisplay" style="font-size:20px"></div>
          <script type="text/javascript">
            function showTime() {
              var date = new Date();
              var h = date.getHours();
              var m = date.getMinutes();
              var s = date.getSeconds();
              var session = "AM";

              if(h == 0){
                h = 12;
              }

              if(h > 12){
                h = h - 12;
                session = "PM";
              }

              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;

              var time = h+":"+m+":"+s+" "+session;
              document.getElementById("ClockDisplay").innerText = time;
              document.getElementById("ClockDisplay").textContent = time;

              setTimeout(showTime, 1000);
            }
            showTime();
          </script>

          <!-- HEADER START -->
          <div class="row">
              <br>
              <div class="col-md-10 col-sm-9">
                  <h3><span style="text-decoration: underline;">
                      Class Information
                  </span></h3>
                  <div class="row">
                      <div class="col-xs-9">
                          <h4 style="font-family:courier,'new courier';" class="text-muted">
                              Here you can find office hour times and locations of all <br>
                              Teaching Assistants and Professors of each specific class.
                          </h4>
                      </div>
                      <div class="col-xs-3"></div>
                  </div>
                  <br>
                  <br>
              </div>
          </div>
          <!-- HEADER END -->

          <br><hr><br> <!-- divider -->

          <!--Class List START-->
          <!-- use a js for-loop to list classes: for (let i=0; i<classList.length; i++) { -->
            <div class="row">
                <div class="col-md-10 col-sm-9">
                    <h3>
                        ClassList[i] class name <!-- SHOW: classList[i].name -->
                    </h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <!-- TA schedules START -->
                            <!-- js forloop to show office hours: for(let i=0;i<classList[i].schedule.length; i++) { -->
                              <h4 style="font-family:courier,'new courier';" class="text-muted">
                              <span class="label label-default">
                                  <b>classList[i] TA name</b>
                                  <!-- Show: classList[i].schedule[i].TA_name -->
                              </span>
                              </h4>

                              <br>
                              <h4>
                                  <ul>
                                      <li>classList[i] officeHour Date <!-- Show: classList[i].schedule[i].date--> </li>
                                      <li>classList[i] officeHour Time <!-- Show: classList[i].schedule[i].time--></li>
                                  </ul>
                              </h4>
                              <h4>
                                  classList[i] TA location
                                  <!-- Show: classList[i].schedule[i].location -->
                              </h4>
                              <br>
                            <!-- put a for loop end tag here -->
                            <!-- TA schedules END -->
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                </div>
            </div>

            <br>
            <hr>
          <!-- put a for loop end tag here --->
          <!-- Class List END -->

        </div>
      </div>
   	</div>
  </div>
</div>

<hr>
<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>

	<!-- script references -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	</body>
</html>
