<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- Display Clock -->
          <div id="ClockDisplay" style="font-size:20px"></div>
          <script type="text/javascript">
            function showTime() {
              var date = new Date();
              var h = date.getHours();
              var m = date.getMinutes();
              var s = date.getSeconds();
              var session = "AM";

              if(h == 0){
                h = 12;
              }

              if(h > 12){
                h = h - 12;
                session = "PM";
              }

              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;

              var time = h+":"+m+":"+s+" "+session;
              document.getElementById("ClockDisplay").innerText = time;
              document.getElementById("ClockDisplay").textContent = time;

              setTimeout(showTime, 1000);
            }
            showTime();
          </script>
          <br>
          
          <!--/body-->
          <!-- this form allows TA's (only) to edit hours for their classes -->

         <h2>Edit TA Hours</h2>
         <h5>Input hours with army time, input 0 if no hours for a day</h5>
      	  <br>
          <form method="post" action="/calendar/submit" >
          	<div class="form-field">
        		<label for="id">ID: </label>
          		<input class="input" id="id" name="id" type="number" />
          	</div>
            <div class="form-field">
        		<label for="id">Monday Start: </label>
          		<input class="input" id="MS" name="MS" type="string" /> 
          	</div>
          	<div class="form-field">
            	<label for="cid">Tuesday Start: </label>
            	<input class="input" id="TS" name="TS" type="string"  />
            </div>
            <div class="form-field">
        		<label for="id">Wednesday Start: </label>
          		<input class="input" id="WS" name="WS" type="string" />
            </div>
            <div class="form-field">
            	<label for="cid">Thursday Start: </label>
            	<input class="input" id="THS" name="THS" type="string"  />
            </div>
            <div class="form-field">
        		<label for="id">Friday Start: </label>
          		<input class="input" id="FS" name="FS" type="string" />
          	</div>
            <div class="form-field">
        		<label for="id">Monday End: </label>
          		<input class="input" id="ME" name="ME" type="string" />
          	</div>
          	<div class="form-field">
            	<label for="cid">Tuesday End: </label>
            	<input class="input" id="TE" name="TE" type="string"  />
            </div>
            <div class="form-field">
        		<label for="id">Wednesday End: </label>
          		<input class="input" id="WE" name="WE"  type="string" />
          	</div>
          	<div class="form-field">
            	<label for="cid">Thursday End: </label>
            	<input class="input" id="THE"  name="THE" type="string"  />
            </div>
            <div class="form-field">
        		<label for="id">Friday End: </label>
          		<input class="input" id="FE" name="FE"  type="string" />
            </div>
            <div class="form-actions">
            	<input type="submit" value="submit">
            </div>
            </form>

          	<div id="mainform">
            	<div class="innerdiv">
                	<div id="clear"></div>
                </div>
                <div id="clear"></div>
            </div>
                
          	<!--/stories-->
          	<a href="/" class="btn btn-primary pull-right btnNext">Home</a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
