<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- This is using ejs (embedded javascript templating) to access the objects in nav (located in app.js) that will appear in the navigation bar. -->
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!--DESCRIPTION-->
          <div class="row">
            <br>
            <div class="col-md-10 col-sm-9">
              
              <!-- Display Clock -->
              <div id="ClockDisplay" style="font-size:20px"></div>
              <script type="text/javascript">
                function showTime() {
                  var date = new Date();
                  var h = date.getHours();
                  var m = date.getMinutes();
                  var s = date.getSeconds();
                  var session = "AM";

                  if(h == 0){
                    h = 12;
                  }

                  if(h > 12){
                    h = h - 12;
                    session = "PM";
                  }

                  h = (h < 10) ? "0" + h : h;
                  m = (m < 10) ? "0" + m : m;
                  s = (s < 10) ? "0" + s : s;

                  var time = h+":"+m+":"+s+" "+session;
                  document.getElementById("ClockDisplay").innerText = time;
                  document.getElementById("ClockDisplay").textContent = time;

                  setTimeout(showTime, 1000);
                }
                showTime();
              </script>

              <!--/DESCRIPTION-->
              <br>
              <h2>Welcome!</h2>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <h4 style="font-family:courier,'new courier';" class="text-muted">
                  	With your account, you can check your class schedule, TA and Professor office hours times and locations, as well as check whether they are present!
                  </h4>
              </div>
              </div>
              <br><br>
            </div>
          </div>
          

          <!--ACCOUNT INFORMATION-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#">
              	<img alt="Profile Picture" src="http://api.randomuser.me/portraits/thumb/women/56.jpg" style="width:130px;height:130px;font-family:courier;"
              	class="img-circle">
              	<!-- show STUDENT IMAGE here -->
              </a>
            </div>
            <hr size="80px">
            <div class="col-md-10 col-sm-9">
              <h3>
              	STUDENT NAME
              	<!-- SHOW Student name here -->
              </h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4>
                  	<b>
                  	<span class="label label-default">
                  		STUDENT USERNAME
                  		<!-- SHOW student username here -->
                  	</span>
                  	</b>
                  </h4>
              </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <!--/ACCOUNT INFORMATION-->


          <!--Sign Up-->
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div class="forms" style="font-family:courier,'new courier';" class="text-muted">
              	<br><br>
                Sign Up! Or <a href="/auth/signin">Sign In</a>
                <br><br>
                
                <form name="signUpForm" action="/auth/signUp" method="post">
                  UserName: <input type = "text" name="username" id="username" placeholder="Email">
                  <br>
                  Password: <input type="password" name="password" id="password">
                  <br/>
                 Confirm Password:<input type="password" name="confPassword" id="confPassword">
                  <br/>
                  Profile Type:
                    <select name="type" id = "type">
                      <option value="Student">Student</option>
                      <option value="TA">TA</option>
                    </select>
                  <br>
                  <input type="submit" value="Sign up">
              </form>
              </div>
            </div>
          </div>

          <!--/Sign Up-->
        </div>
      </div>
   	</div><!--/Body-->
  </div>
</div>

<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
