<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- This is using ejs (embedded javascript templating) to access the objects in nav (located in app.js) that will appear in the navigation bar. -->
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!--DESCRIPTION-->
          <div class="row">
            <br>
            <div class="col-md-10 col-sm-9">
              <h3>Welcome to SiTE!</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4 style="font-family:courier,'new courier';" class="text-muted">
                  	With your account, you can check your class schedule, TA and Professor office hours times and locations, as well as check whether they are present!
                  </h4>
              </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <!--/DESCRIPTION-->

          <!--ACCOUNT INFORMATION-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#">
              	<img alt="Profile Picture" src="http://api.randomuser.me/portraits/thumb/women/56.jpg" style="width:130px;height:130px"
              	class="img-circle">
              	<!-- show STUDENT IMAGE here -->
              </a>
            </div>
            <hr size="80px">
            <div class="col-md-10 col-sm-9">
              <h3>
              	STUDENT NAME
              	<!-- SHOW Student name here -->
              </h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4>
                  	<b>
                  	<span class="label label-default">
                  		STUDENT USERNAME
                  		<!-- SHOW student username here -->
                  	</span>
                  	</b>
                  </h4>
              </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <!--/ACCOUNT INFORMATION-->

          <!--SHOW CLASSES-->
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <h3><u>
              	My Classes
              </u></h3>
              <br>
              <div class="row">
                <div class="col-xs-9">
                  <h4 style="font-family:courier,'new courier';"
                  class="text-muted">
                  	LIST CLASSES HERE
                  	<!-- Use a for loop here to show ONLY THE NAME
						of each class here -->
                  </h4>
              </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
              Sign In!
              <form name="signInForm" action="/auth/signin" method="post">
                UserName: <input name="username" id="username"><br/>
                Password: <input type="password" name="password" id="password"><br/>
                <input type="submit" value="Sign in">
              </form>
            </div>
          </div>

          <!--/SHOW CLASSES-->
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>

<hr>

<hr>

<hr>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
